@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }
  .nav-list {
    flex-direction: row;
  }
  .drawer-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #book-items {
    grid-template-columns: 1fr;
  }
  .detail_book_body {
    flex-direction: column;
    align-items: center;
  }

  .book__cover {
    width: 100%;
    max-width: 300px;
    min-width: unset;
    height: auto;
  }

  .book__info {
    margin-inline: 20px;
    align-self: start;
  }

  .book__info h4,
  .book__info p {
    margin: 4px 0;
  }

  .book__description {
    margin-top: 15px;
    margin-inline: 20px;
  }

  .book__title {
    text-align: center;
    font-size: 1.3em;
  }

  #book-items,
  #recommendation-items {
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 10px;
  }
  #recommendation-container {
    padding: 2px;
  }
}
